<div class="form-container panel panel-default">
  <div class="panel-body">
    <h2>Create account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-group <%= "has-errors" if resource.errors[:login].present? %>">
        <%= f.label :login, "Username (required)" %><small class="errored"><%= resource.errors[:login].join(', ')%></small><br />
        <%= f.text_field :login, autofocus: true, required: true, class: 'form-control' %>
      </div>

      <div class="form-group <%= "has-errors" if resource.errors[:display_name].present? %>">
        <%= f.label :credited_name, "Real Name (optional)" %><small class="errored"><%= resource.errors[:display_name].join(', ')%></small><br />
        <%= f.text_field :display_name, class: 'form-control' %>
        <small>We’ll use this to give you credit in scientific papers, posters, etc</small>
      </div>

      <div class="form-group <%= "has-errors" if resource.errors[:email].present? %>">
        <%= f.label :email, "Email (required)"%><small class="errored"><%= resource.errors[:email].join(', ')%></small><br />
        <%= f.email_field :email, required: true, class: 'form-control' %>
      </div>

      <div class="form-group" >
        <%= f.label :password, "Password (required)"%><small class="errored"><%= resource.errors[:password].join(', ')%></small><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>

        <%= f.label :password_confirmation, "Password confirmation (required)" %><small class="errored"><%= resource.errors[:password_confirmation].join(', ')%></small><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'form-control' %>
      </div>

      <div class="checkbox" >
        <label for="privacy">
          <input name="privacy" id="privacy" type="checkbox" />
          I have read and agreed to the <a href="https://www.zooniverse.org/privacy">Privacy Policy</a>
        </label>
      </div>

        <div class="checkbox">
          <%= f.label :global_email_communication do %>
            <%= f.check_box :global_email_communication, checked: true %>
            It’s okay to send me email every once in a while.
          <% end %>
        </div>

        <div class="checkbox">
          <%= f.label :beta_email_communication do %>
            <%= f.check_box :beta_email_communication, checked: false %>
            I’d like to help test new projects, and be emailed when they’re available.
          <% end %>
        </div>

      <%= f.submit "Create account", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
