<div class="form-container panel panel-default">
  <div class="panel-body">
    <h2>Create account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="checkbox">
        <%= f.label :under_age do %>
          <%= f.check_box :under_age, checked: false %>
          If you are under 16 years old, tick this box and complete the form with your parent/guardian.
        <% end %>
      </div>

      <div class="form-group <%= "has-errors" if resource.errors[:login].present? %>">
        <%= f.label :login, "Username (required)" %><small class="errored"><%= resource.errors[:login].join(', ')%></small><br />
        <%= f.text_field :login, autofocus: true, required: true, class: 'form-control' %>
        <% if @under_age %>
          <small>Don't use your real name.</small>
        <% end %>
      </div>

      <div class="form-group <%= "has-errors" if resource.errors[:credited_name].present? %>">
        <%= f.label :credited_name, "Real Name (optional)" %><small class="errored"><%= resource.errors[:credited_name].join(', ')%></small><br />
        <%= f.text_field :credited_name, class: 'form-control' %>
        <small>We’ll use this to give you credit in scientific papers, posters, etc</small>
      </div>

      <div class="form-group <%= "has-errors" if resource.errors[:email].present? %>">
        <%= f.label :email, @under_age ? "Parent/Guardian's Email (required)" : "Email (required)" %><small class="errored"><%= resource.errors[:email].join(', ')%></small><br />
        <%= f.email_field :email, required: true, class: 'form-control' %>
      </div>

      <div class="form-group" >
        <%= f.label :password, "Password (required)"%><small class="errored"><%= resource.errors[:password].join(', ')%></small><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>

        <%= f.label :password_confirmation, "Password confirmation (required)" %><small class="errored"><%= resource.errors[:password_confirmation].join(', ')%></small><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'form-control' %>
      </div>

      <div class="checkbox" >
        <label for="privacy">
          <input name="privacy" id="privacy" type="checkbox" />
            <span>
              <% if @under_age %>
                I confirm I am the parent/guardian and give permission for my child to register by providing my
                email address as the main contact address. Both I and my child understand and agree to the
              <% else %>
                  I have read and agreed to the
              <% end %>
            </span>
          <a href="https://www.zooniverse.org/privacy">Privacy Policy</a>
        </label>
      </div>

        <div class="checkbox">
          <%= f.label :global_email_communication do %>
            <%= f.check_box :global_email_communication, checked: true %>
            <span>
              <% if @under_age %>
                If you agree, we will periodically send email promoting new research-related
                projects or other information relating to our research. We will not use your
                contact information for commercial purposes.
              <% else %>
                It’s okay to send me email every once in a while.
              <% end %>
            </span>
          <% end %>
        </div>

        <div class="checkbox">
          <%= f.label :beta_email_communication do %>
            <%= f.check_box :beta_email_communication, checked: false %>
            I’d like to help test new projects, and be emailed when they’re available.
          <% end %>
        </div>

      <%= f.submit "Create account", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
