<div class="form-container">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form form--new-user"}) do |f| %>

        <div class="row" >
        <fieldset class="fieldset--text">
            <%= f.label :login, "Username" %><small class="errored"><%= resource.errors[:login].join(', ')%></small><br />
            <%= f.text_field :login, autofocus: true, required: true %>
        </fieldset>
        </div>

        <div class="row" >
        <fieldset class="fieldset--text">
            <%= f.label :credited_name, "Real Name (optional)" %><small class="errored"><%= resource.errors[:display_name].join(', ')%></small><br />
            <%= f.text_field :display_name %>
            <small>We’ll use this to give you credit in scientific papers, posters, etc</small>
        </fieldset>
        </div>

        <div class="row" >
        <fieldset class="fieldset--email">
            <%= f.label :email %><small class="errored"><%= resource.errors[:email].join(', ')%></small><br />
            <%= f.email_field :email, required: true %>
        </fieldset>
        </div>

        <div class="row" >
        <fieldset class="fieldset--password">
            <%= f.label :password %><small class="errored"><%= resource.errors[:password].join(', ')%></small><br />
            <%= f.password_field :password, autocomplete: "off", required: true %>
        </fieldset>

        <fieldset class="fieldset--password">
            <%= f.label :password_confirmation %><small class="errored"><%= resource.errors[:password_confirmation].join(', ')%></small><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
        </fieldset>
        </div>

        <div class="row" >
            <fieldset class="fieldset--email">
                <input name="privacy" type="checkbox" />
                <label for="privacy">I have read and agreed to the <a href="https://www.zooniverse.org/privacy">Privacy Policy</a></label><br />

                <%= f.check_box :global_email_communication, checked: true %>
                <%= f.label :global_email_communication, "It’s okay to send me email every once in a while."  %><br />

                <%= f.check_box :beta_email_communication, checked: false %>
                <%= f.label :beta_email_communication, "I’d like to help test new projects, and be emailed when they’re available." %><br />
            </fieldset>
        </div>

        <div class="submit-container"><%= f.submit "Sign up" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
