<div class="form-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form form--new-user"}) do |f| %>

    <fieldset class="fieldset--text">
      <%= f.label :login, "Username" %><small><%= resource.errors[:login].join(', ')%></small></br>
      <%= f.text_field :login, autofocus: true, required: true %>
    </fieldset>

    <fieldset class="fieldset--text">
      <%= f.label :display_name %><small><%= resource.errors[:display_name].join(', ')%></small></br>
      <%= f.text_field :display_name %>
    </fieldset>

    <fieldset class="fieldset--email">
      <%= f.label :email %><small><%= resource.errors[:email].join(', ')%></small></br>
      <%= f.email_field :email, required: true %>
    </fieldset>

    <fieldset class="fieldset--password">
      <%= f.label :password %><small><%= resource.errors[:password].join(', ')%></small></br>
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </fieldset>

    <fieldset class="fieldset--password">
      <%= f.label :password_confirmation %><small><%= resource.errors[:password_confirmation].join(', ')%></small></br>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </fieldset>

    <div class="submit-container"><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
