<div class="form-container">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form form--new-password" }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset class="fieldset--email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </fieldset>

    <div class="submit-container"><%= f.submit "Send me reset email" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
