<p>You have been added to the Zooniverse project <%= @project.display_name %> in the following roles: <%= @roles.join(" and ") %></p>

<p>Go to <a href="<%= Panoptes.frontend_url %>/projects/<%= @project.slug %>"><%= @project.display_name %></a> to get started.</p>

<% if @roles.include? "collaborator" %>
  <p>To edit your project, visit <a href="<%= Panoptes.frontend_url %>/lab/<%= @project.id %>">this link</a></p>
<% end %>

<p>If you believe this to be in error, please contact support (contact@zooniverse.org).</p>

<p>Thanks,</p>

<p>The Zooniverse Team</p>
